@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
@layer tailwind-base, primereact, tailwind-utilities;

.primary-color {
  background-color: var(--primary-color);
}

.page-color {
  background-color: rgb(250, 244, 232);
}

input {
  border: solid 1px rgb(200, 200, 198);
  padding-left: 5px;
  padding-right: 5px;
}
